@page "/documents"
@using DocumentManagement.Core.Documents

<h3>Documents</h3>
<Alert Color="Color.Success" Visible="@ShowUploadSuccess">
    <AlertMessage>Success</AlertMessage>
    <AlertDescription>File uploaded successfully</AlertDescription>
</Alert>

<EditForm Model="CreateDocumentDto">
    <Card>
        <CardBody>
            <Fields>
                <Field ColumnSize="ColumnSize.Is12" Margin="Margin.Is1.FromTop">
                    <FieldLabel>Document Type</FieldLabel>
                    <SelectList TItem="DocumentType"
                                TValue="string"
                                DefaultItemText=""
                                @bind-SelectedValue="CreateDocumentDto.DocumentTypeId"
                                Data="@DocumentTypes"
                                TextField="@((item) => item.Name)"
                                ValueField="@(item => item.Id)">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </SelectList>
                </Field>

                <Field ColumnSize="ColumnSize.Is12" Margin="Margin.Is1.FromTop">
                    <FileEdit Changed="@OnDocumentChanged"/>
                </Field>
            </Fields>
        </CardBody>
        <CardFooter>
            <Button Color="Color.Secondary">
                Cancel
            </Button>

            <Button Color="Color.Primary"
                    Type="@ButtonType.Submit"
                    PreventDefaultOnSubmit="true" Clicked="SaveDocument">
                Save
            </Button>
        </CardFooter>
    </Card>
</EditForm>