@page "/documents"
@using DocumentManagement.Core.Documents

<h3>Documents</h3>
<Alert Color="Color.Success" Visible="@ShowUploadSuccess">
    <AlertMessage>Success</AlertMessage>
    <AlertDescription>File uploaded successfully</AlertDescription>
</Alert>

<EditForm Model="CreateDocumentDto">
    <Card>
        <CardBody>
            <Fields>
                <Field ColumnSize="ColumnSize.Is12" Margin="Margin.Is1.FromTop">
                    <FieldLabel>Document Type</FieldLabel>
                    <SelectList TItem="DocumentType"
                                TValue="string"
                                DefaultItemText=""
                                @bind-SelectedValue="CreateDocumentDto.DocumentTypeId"
                                Data="@DocumentTypes"
                                TextField="@((item) => item.Name)"
                                ValueField="@(item => item.Id)">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </SelectList>
                </Field>

                <Field ColumnSize="ColumnSize.Is12" Margin="Margin.Is1.FromTop">
                    <FileEdit Changed="@OnDocumentChanged"/>
                </Field>
            </Fields>
        </CardBody>
        <CardFooter>
            <Button Color="Color.Secondary">
                Cancel
            </Button>

            <Button Color="Color.Primary"
                    Type="@ButtonType.Submit"
                    PreventDefaultOnSubmit="true" Clicked="SaveDocument">
                Save
            </Button>
        </CardFooter>
    </Card>
</EditForm>

<DataGrid TItem="Document"
          Data="Items"
          ShowPager="true"
          Sortable="true"
          SortMode="DataGridSortMode.Single"
          RowSelectable="@(_ => false)"
          Editable="true"
          Responsive="true">
    <DataGridColumns>
        <DataGridColumn TItem="Document"
                        Field="FileName"
                        Caption="File Name">
        </DataGridColumn>

        <DataGridColumn TItem="Document"
                        Field="DocumentType"
                        Caption="Type">
            <DisplayTemplate>
                @context.DocumentType.Name
            </DisplayTemplate>
        </DataGridColumn>

        <DataGridColumn TItem="Document"
                        Field="Status"
                        Caption="Status">
            <DisplayTemplate>
                @context.Status.ToString()
            </DisplayTemplate>
        </DataGridColumn>

        <DataGridColumn TItem="Document"
                        Field="Status"
                        Caption="Action">
            <DisplayTemplate>
                @if (context.Status == DocumentStatus.New)
                {
                    <Button Color="Color.Primary" Clicked="@(() => ArchiveDocument(context))">Approve</Button>
                }

                @if (context.Status == DocumentStatus.PendingApproval)
                {
                    <Button Color="Color.Primary" Clicked="@(() => ApplyTransition(context, "Approve"))">Approve</Button>
                    <Button Color="Color.Primary" Clicked="@(() => ApplyTransition(context, "Reject"))">Deny</Button>
                }

                @if (context.Status == DocumentStatus.PendingActivation)
                {
                    <Button Color="Color.Primary" Clicked="@(() => ApplyTransition(context, "Valid"))">Activate</Button>
                    <Button Color="Color.Primary" Clicked="@(() => ApplyTransition(context, "Fake"))">Reject</Button>
                }

                @if (context.Actions.Length > 0)
                {
                    foreach (var action in context.Actions)
                    {
                        <Button Margin="Margin.Is1.FromEnd" Color="Color.Primary" Clicked="@(() => SendUserAction(context, action))">@action</Button>
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>


    </DataGridColumns>
    <LoadingTemplate>
        <PageProgress Visible="true" Color="Color.Info"></PageProgress>
    </LoadingTemplate>
    <EmptyTemplate>
        <div>No cards found</div>
    </EmptyTemplate>
</DataGrid>